<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Product Data</title>
    <!-- Include Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link
      href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="static-table">
        <table class="table table-striped table-fixed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Product Name</th>
              <th>Color</th>
              <th>Quantity</th>
              <th>Sell Price</th>
              <th>Origin Price</th>
              <th>Description</th>
              <th>Status</th>
              <th>Subcategory</th>
              <th>Brands</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let product of products
                  | paginate : { itemsPerPage: 5, currentPage: p }
              "
            >
              <td>{{ product.id }}</td>
              <td>{{ product.productName }}</td>
              <td>{{ product.color }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.sellPrice }}</td>
              <td>{{ product.originPrice }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.status.statusName }}</td>
              <td>{{ product.subcate.subCateName }}</td>
              <td>
                <span *ngFor="let brand of product.brands"
                  >{{ brand.brandName }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pagination-controls
        (pageChange)="p = $event"
        (responsive)="(true)"
      ></pagination-controls>

      <br />
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <!-- Product Name input field -->
        <div class="form-group">
          <label for="productName">Product Name</label>
          <input
            type="text"
            id="productName"
            formControlName="productName"
            class="form-control"
            required
          />
        </div>
        <!-- Color input field -->
        <div class="form-group">
          <label for="color">Color</label>
          <input
            type="text"
            id="color"
            formControlName="color"
            class="form-control"
            required
          />
        </div>
        <!-- Quantity input field -->
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input
            type="number"
            id="quantity"
            formControlName="quantity"
            class="form-control"
            required
          />
        </div>
        <!-- Sell Price input field -->
        <div class="form-group">
          <label for="sellPrice">Sell Price</label>
          <input
            type="number"
            id="sellPrice"
            formControlName="sellPrice"
            step="0.01"
            class="form-control"
            required
          />
        </div>
        <!-- Origin Price input field -->
        <div class="form-group">
          <label for="originPrice">Origin Price</label>
          <input
            type="number"
            id="originPrice"
            formControlName="originPrice"
            step="0.01"
            class="form-control"
            required
          />
        </div>
        <!-- Description input field -->
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            id="description"
            formControlName="description"
            class="form-control"
            required
          ></textarea>
        </div>
        <!-- Subcategory input field -->
        <div class="form-group">
          <label for="subcate">Subcategory</label>
          <select
            id="subcate"
            formControlName="subcate"
            class="form-control"
            required
          >
            <option *ngFor="let subcate of subcategories" [ngValue]="subcate">
              {{ subcate.subCateName }} {{ subcate.category.cateName }}
            </option>
          </select>
        </div>
        <!-- Brand input field -->
        <div class="form-group">
          <label>Brand</label>
          <select
            class="form-select"
            id="multiple-select-field"
            data-placeholder="Choose anything"
            multiple
            formControlName="brands"
            required
          >
            <option>fake value</option>
            <option *ngFor="let brand of brands" [ngValue]="brand">
              {{ brand.brandName }}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </body>
</html>
