.static-table {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.static-table .table {
  min-width: 100%;
}
.table-fixed {
  width: 100%;
  table-layout: fixed;
}

.table-fixed thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.table-fixed th,
.table-fixed td {
  text-align: left;
  white-space: nowrap; /* Prevent line breaks within cells */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflowing content */
}

.table-fixed tbody {
  overflow-y: scroll; /* Enable vertical scrolling */
  height: 300px; /* Set a fixed height for the table body */
}

/* Optional: Scrollbar customization */
.table-fixed tbody::-webkit-scrollbar {
  width: 8px;
}

.table-fixed tbody::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.table-fixed tbody::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.table-fixed tbody::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
